{#
/**
 * @file
 * Default theme implementation for an email body.
 *
 * Available variables:
 * - nodes: List of nodes that have been updated.
 */
 #}

<h3>{{ 'List of updates:'|t }}</h3>
<ul>
{% for node in nodes %}
  <li>
    <a href="{{ path('entity.node.canonical', {'node': node.id()}) }}">{{ node.getTitle() }}</a>
  </li>
{% endfor %}
</ul>